.env
.env.*
!.env.example

backend/.env
backend/.env.*
!backend/.env.example
backend/vendor/
backend/node_modules/
backend/database/*.sqlite

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
!frontend/.env.example

public-frontend/node_modules/
public-frontend/dist/
public-frontend/.env
public-frontend/.env.*
!public-frontend/.env.example

.DS_Store
Thumbs.db
*.log

infrastructure/env.local.json
.aws-sam/
